.wrap {
    width: 100%;
    // height: 200px;
    // display: flex;
    display: inline-block;
    // flex-direction: column;
    // flex-wrap: wrap;
    background-color: yellow;
}

.box {
    width: 100px;
    background-color: #eee;
    border: 1px solid #000;
}

.box1 {
    height: 100px;
}

.box2 {
    height: 50px;
}

.box3 {
    height: 80px;
}

.box4 {
    width: 120px;
}

.box5 {
    width: 60px;
}

.box6 {
    width: 110px;
}

.box7 {
    width: 70px;
}

.box8 {
    width: 130px;
}

.box9 {
    width: 50px;
}

.box10 {
    width: 90px;
}

